@media (max-width: 1200px) {
    .bannerSwiper,
    .category,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 900px;
        width: 100%;        
    }

    .text-list__text-list-item{
        max-width: 190px;
        font-size: 13px;
        line-height: 14px;
    }
    .text-list-item--margin{
        margin-right: 0;
    }
    .box--small{
        max-width: 360px;
    }
    .social-img{
        max-width: 500px;
    }
}

@media (max-width: 950px){
    .bannerSwiper,
    .category,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 800px;
        width: 100%;        
    }
    .category-name{
        font-size: 16px;
        line-height: 20px;
    }
    .social-img{
        max-width: 400px;
    }
    .product-slide,
    .fabric-slide,
    .feedback-slide{
        width: 50% !important
    }
}

@media (max-width: 850px){
    .bannerSwiper,
    .category-mobile,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 700px;
        width: 100%;        
    }

    .banner-slider{
        display: none;
    }
    .banner-slider-mobile{
        display: block;
    }
    .banner-prev{
        margin-left: 64px;
        padding: 12px 18px;
        margin-bottom: 56px;

    }
    .banner-next {
        padding: 12px 18px;
        margin-right: 10px;
        margin-bottom: 56px;
    }

    .category{
        display: none;
    }
    .category-mobile{
        display: flex;
        flex-direction: column;
        max-width: 700px;
        width: 100%;
        margin: 20px auto 30px;
    }



    .category-mobile-box{
        position: relative;
        margin-bottom: 20px;
    }
    .category-mobile-box img{
        max-width: 700px;
        width: 100%;
        border-radius: 5px;
        
    }
    .category-mobile-name{
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 9px 18px;
        background: rgba(35, 43, 44, 0.5);
        border-radius: 4px;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;

        color: #FFFFFF;

    }
    .category-mobile-text{
        display: flex;
        justify-content: space-between;
    }

    .text-list--mobile{
        padding-top: 10px;
        height: auto;
        max-width: 300px;
    }

    .text-list--mobile li{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        
        color: #292E31;
        margin-left: 20px;
    }
    .text-list-link:hover{
        color: #1C5F4E;
    }

    .tit{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: 25px;
        line-height: 22px;

        color: #292E31;
    }

    .social-img{
        max-width: 350px;
        margin-right: 10px;
    }
    .social-pages {
        max-width: 700px;
        width: 100%;
    }
    .feedback-slide {
        max-width: 700px;
        width: 100%;
    }

    .about-container__about-boxes{
        justify-content: center;
    }
    .about-boxes__about-box {
        max-width: 700px;
        width: 100%;
    }

    .about-box--mobile{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }
    .about-box--full-screen{
        display: none;
    }    
    .button-feedback-prev, 
    .button-feedback-next{
        visibility: hidden;
    }
    .feedback-box-name img{
        width: 42px;
        height: 42px;
    }
    .about-boxes__about-box img{
        width: 35px;
        height: 35px;
    }

}

@media (max-width: 750px){
    .category-mobile,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 600px;
        width: 100%;        
    }

    /* .banner-prev,
    .banner-next {
        visibility: hidden;
    } */
    .products,
    .feedback{
        margin-bottom: 50px;
    }
    .social{
        margin: 50px auto;
    }
    .about-text--small{
        flex-direction: column;
    }
    .box--small {
        max-width: 500px;
        margin-bottom: 20px;
    }
    .button-feedback-next,
    .button-feedback-prev{
        visibility: hidden;
    }
}

@media (max-width: 650px){
    .category-mobile,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 500px;
        width: 100%;        
    }
    .social-img {
        display: none;
    }
}

@media (max-width: 550px){
    .category-mobile,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 400px;
        width: 100%;        
    }
    .social-pages {
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width: 450px){

    .tit{
        font-size: 25px;
        line-height: 30px;
    }
    .product-slide__name,
    .fabric-box__item-name,
    .product-slide__code, 
    .product-slide__manuf{
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 5px;
        
    }
    .banner-prev,
    .banner-next {
        visibility: visible;
    }
    .banner-next{
        padding: 3px 9px;
        margin-right: -20px;
        margin-bottom: 47px;
    }
    .banner-prev{
        padding: 3px 9px;
        margin-left: 28px;
        margin-bottom: 47px;
    }

    .products,
    .fabric,
    .feedback {
        max-width: 430px;
    }
    .productSwiper,
    .fabricSwiper,
    .feedbackSwiper {
        max-width: 430px;
        padding-left: 20px !important;
    }
    .products-tit,
    .fabric-tit,
    .feedback-tit{
        margin-left: 20px;
    }
    .feedback-box{
        padding: 20px;
    }
    .feedback-slide{
        width: 255px !important;
    }


    .feedback-text {
        font-size: 14px;
        line-height: 19px;
    }

    .product-slide__price,
    .fabric-box__price{
        font-weight: 400;
    }
    .fabric-box__old-price{
        font-weight: 300;
    }
    .text-list--mobile {
        max-width: 160px;
    }


    #vk_groups,
    iframe{
        width: 400px !important;
        height: 400px !important;
    }

}
@media (max-width: 428px){
    .category-mobile,
    .social,
    .about{
        max-width: 380px;
        width: 100%;        
    }
    .products,
    .fabric,
    .feedback {
        max-width: 428px;
    }
    .productSwiper,
    .fabricSwiper,
    .feedbackSwiper {
        max-width: 428px;
    }
    #vk_groups,
    iframe{
        width: 380px !important;
        height: 380px !important;
    }
}
@media (max-width: 414px){
    .category-mobile,
    .social,
    .about{
        max-width: 380px;
        width: 100%;        
    }
    .products,
    .fabric,
    .feedback {
        max-width: 414px;
    }
    .productSwiper,
    .fabricSwiper,
    .feedbackSwiper {
        max-width: 414px;
    }
    #vk_groups,
    iframe{
        width: 380px !important;
        height: 380px !important;
    }
}
@media (max-width: 393px){
    .category-mobile,
    .social,
    .about{
        max-width: 360px;
        width: 100%;        
    }
    .products,
    .fabric,
    .feedback {
        max-width: 393px;
    }
    .productSwiper,
    .fabricSwiper,
    .feedbackSwiper {
        max-width: 393px;
    }
    #vk_groups,
    iframe{
        width: 360px !important;
        height: 360px !important;
    }
}

@media (max-width: 390px){
    .category-mobile,
    .social,
    .about{
        max-width: 360px;
        width: 100%;        
    }
    .products,
    .fabric,
    .feedback {
        max-width: 390px;
    }
    .productSwiper,
    .fabricSwiper,
    .feedbackSwiper {
        max-width: 390px;
    }
    #vk_groups,
    iframe{
        width: 360px !important;
        height: 360px !important;
    }
}
@media (max-width: 375px){
    .category-mobile,
    .social,
    .about{
        max-width: 350px;
        width: 100%;        
    }
    .products,
    .fabric,
    .feedback {
        max-width: 375px;
    }
    .productSwiper,
    .fabricSwiper,
    .feedbackSwiper {
        max-width: 375px;
    }
    #vk_groups,
    iframe{
        width: 350px !important;
        height: 350px !important;
    }
}
@media (max-width: 360px){
    .category-mobile,
    .social,
    .about{
        max-width: 330px;
        width: 100%;        
    }
    .products,
    .fabric,
    .feedback {
        max-width: 360px;
    }
    .productSwiper,
    .fabricSwiper,
    .feedbackSwiper {
        max-width: 360px;
    }
    #vk_groups,
    iframe{
        width: 330px !important;
        height: 330px !important;
    }
}

@media (max-width: 320px){
    .category-mobile,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 290px;
        width: 100%;        
    }
    .productSwiper,
    .fabricSwiper,
    .feedbackSwiper {
        max-width: 320px;
    }
    .text-list--mobile li{
        font-weight: 400;
        font-size: 11px;
    }
    .tit{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: 22px;
        line-height: 26px;

        color: #292E31;
    }
    .product-slide__name,
    .fabric-box__item-name,
    .product-slide__code, 
    .product-slide__manuf{
        font-size: 12px;
        line-height: 18px;
    }

    .social-pages {
        max-width: 290px;
        width: 100%;
    }
    #vk_groups,
    iframe{
        width: 290px !important;
        height: 297px !important;
    }
    .feedback-text {
        font-size: 11px;
        line-height: 17px;
    }


}