@media (max-width: 1200px) {
    .bannerSwiper,
    .category,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 900px;
        width: 100%;        
    }

    .text-list__text-list-item{
        max-width: 190px;
        font-size: 13px;
         line-height: 14px;
    }
    .text-list-item--margin{
        margin-right: 0;
    }
    .box--small{
        max-width: 360px;
    }
    .social-img{
        max-width: 500px;
    }
}

@media (max-width: 950px){
    .bannerSwiper,
    .category,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 800px;
        width: 100%;        
    }
    .category-name{
        font-size: 16px;
        line-height: 20px;
    }
    .social-img{
        max-width: 400px;
    }
}

@media (max-width: 850px){
    .bannerSwiper,
    .category,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 700px;
        width: 100%;        
    }

    .banner-slider{
        display: none;
    }
    .banner-slider-mobile{
        display: block;
    }
    .banner-prev{
        margin-left: 64px;
        padding: 12px 18px;
        margin-bottom: 56px;

    }
    .banner-next {
        padding: 12px 18px;
        margin-right: 10px;
        margin-bottom: 56px;
    }

    .category{
        display: none;
    }
    .category-mobile{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        margin: 20px auto 0;
    }



    .category-mobile-box{
        position: relative;
        margin-bottom: 20px;
    }
    .category-mobile-box img{
        max-width: 500px;
        width: 100%;
        border-radius: 10px;
        
    }
    .category-mobile-name{
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 9px 18px;
        background: rgba(35, 43, 44, 0.5);
        border-radius: 4px;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;

        color: #FFFFFF;

    }

    .text-list--mobile{
        padding-top: 10px;
        max-height: 100px;
        height: fit-content;
        max-width: 190px;
    }

    .text-list--mobile li{
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
    }
    .text-list-link:hover{
        color: #1C5F4E;
    }

    .social-img{
        display: none;
    }
    .social-pages {
        max-width: 700px;
        width: 100%;
    }
    .feedback-slide {
        max-width: 700px;
        width: 100%;
    }

    .about-container__about-boxes{
        justify-content: center;
    }
    .about-boxes__about-box {
        max-width: 500px;
        width: 100%;
    }
    

}

@media (max-width: 750px){
    .category-mobile,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 500px;
        width: 100%;        
    }

    .banner-prev,
    .banner-next {
        visibility: hidden;
    }
    .products,
    .feedback{
        margin-bottom: 50px;
    }
    .social{
        margin: 50px auto 0;
    }
    .about-text--small{
        flex-direction: column;
    }
    .box--small {
        max-width: 500px;
        margin-bottom: 20px;
    }
    .button-feedback-next,
    .button-feedback-prev{
        visibility: hidden;
    }
}

@media (max-width: 550px){
    .category-mobile,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 400px;
        width: 100%;        
    }
    .social-pages {
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width: 450px){
    .category-mobile,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 350px;
        width: 100%;        
    }

    .text-list--mobile {
        max-height: 145px;
        max-width: 160px;
    }
}

@media (max-width: 400px){
    .category-mobile,
    .products,
    .fabric,
    .social,
    .feedback,
    .about{
        max-width: 290px;
        width: 100%;        
    }
    .social-pages {
        max-width: 290px;
        width: 100%;
    }
    #vk_groups,
    iframe{
        width: 290px !important;
        height: 297px !important;
    }


}