*{
    margin: 0;
    padding: 0;    
}
body{
  font-family: 'Roboto', sans-serif;  
  max-width: 1920px;
  width: 100%; 
  margin: 0 auto;
}

a {
    text-decoration: none;
}
b{
    font-weight: 500;
}
.banner-slider-mobile{
    display: none;
}
.category-mobile{
    display: none;
}

.tit{
    font-size: 32px;
    font-weight: 100;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

